/* .wrapper{
  width: ;
} */
.formField {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 20px;
  width: 200px;
  margin: 0 auto;
}

.formField input {
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 5px transparent;
}

.formField input:hover,
.formField input:focus {
  box-shadow: 0 0 0 2px #333;
}

.formField button {
  width: 40px;
  height: 40px;
}
