* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style: none;
}
